[Unit]
Description=Runs the part 4 file which gets user information

[Service]
Type=oneshot
ExecStart=/opt/part4


[Install]
WantedBy=multi-user.target
